body{
   background-color: black;
}
@font-face {
	
}
.terminal_text {
	position: absolute;
	color : green;
	font-family : Consolas;
	font-size: 14px;
}
.write_in{
	margin-left : -2px;
}
.input_cursor {
	margin-left : -3px;
	animation : input_cursor_blink 1s step-end infinite;
}
@keyframes input_cursor_blink {
	from, to { opacity : 0}
	50% { opacity : 1 }
}